/* styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  
}

header {
  background-color: #03030346;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #03030346;
  border-radius: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
 color: aqua;
}

section {
  margin-bottom: 2rem;
}

.project {
  background-color: #03030346;
  border: 1px solid #292828b0;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.project-hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.856);
  transform: translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color:#03030346 ;
  border-radius: 10px;
}