@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.no-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}
